<!-- 
 * @author SilverCore
 * @author SilverTransfer
 * @author MisterPapaye
-->

<!DOCTYPE html>

<html lang="fr">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

        <meta name="copyright" content="2025 SilverTransfer | SilverCore">
        <meta name="theme-color" content="#9316d3">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="author" content="SilverCore, SilverTransfer | MisterPapaye">

        <link rel="icon" href="https://t.silverdium.fr/logoST.png" type="image/png">

        <meta property="og:title" content="SilverTransfert | <%= fileName %>">
        <meta property="og:description" content="Transfert de fichier GRATUIT, hébergé en France !! by SilverCore">
        <meta property="og:site_name" content="SilverTransfer - Outils de Transfert">
        <meta property="og:image" content="https://t.silverdium.fr/logoST.png">
        <meta property="og:locale" content="fr_FR">

        <title>SilverTransfer | Télécharger : <%= fileName %></title>

        <link rel="stylesheet" href="assets?file=download&ext=css">
        <script src="assets?file=download&ext=js" defer></script>

        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>


    </head>

    <body>

        <script defer>
            function btnclick() {
                window.open(`/data/view?id=<%= fileID %>`, '_blank');
                window.location.href = (`/data/<%= fileID %>`);

                setInterval(() => {
                    fetch('/data/status?id=<%= fileID %>')
                        .then(res => res.json())
                        .then(res => {
                            if (res.data === 'end') {
                                document.getElementById('ah').innerText = "Veuillez fermer l'onglais"
                            }
                        })
                        .catch(error => {
                            console.error("Erreur lors de la récupération du statut :", error);
                        });
                }, 1000);

                document.querySelector('.card').style.display = 'none'
                document.getElementById('success').style.display = 'flex'

            }
        </script>


        <!-- From Uiverse.io by Quer3000 --> 
        <div class="card">
            <div class="image_container">
                <img class="image" src="/assets/img/logo.png">
            </div>
            <div class="title1">
            <span>SilverTransfer</span>
            </div>
            <div class="size">
            <span>Informations</span>
            <ul class="list-size">
                <li class="item-list item-list-button">
                    <strong>Taille</strong>
                    <br><%= fileSize %>
                </li>
                <li class="item-list item-list-button">
                    <strong>Nom</strong>
                    <br><%= fileName %>
                </li>
            </ul>
            </div>
            <div class="action">
            <button class="download-button" onclick="btnclick()">
                <span class="button-text" style="text-transform: uppercase;">Télécharger</span>
                <span class="button-icon">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 35 35"
                    class="download-svg"
                >
                    <path
                    d="M17.5,22.131a1.249,1.249,0,0,1-1.25-1.25V2.187a1.25,1.25,0,0,1,2.5,0V20.881A1.25,1.25,0,0,1,17.5,22.131Z"
                    ></path>
                    <path
                    d="M17.5,22.693a3.189,3.189,0,0,1-2.262-.936L8.487,15.006a1.249,1.249,0,0,1,1.767-1.767l6.751,6.751a.7.7,0,0,0,.99,0l6.751-6.751a1.25,1.25,0,0,1,1.768,1.767l-6.752,6.751A3.191,3.191,0,0,1,17.5,22.693Z"
                    ></path>
                    <path
                    d="M31.436,34.063H3.564A3.318,3.318,0,0,1,.25,30.749V22.011a1.25,1.25,0,0,1,2.5,0v8.738a.815.815,0,0,0,.814.814H31.436a.815.815,0,0,0,.814-.814V22.011a1.25,1.25,0,1,1,2.5,0v8.738A3.318,3.318,0,0,1,31.436,34.063Z"
                    ></path>
                </svg>
                </span>
            </button>
            </div>
        </div>

        <section id="success">
            <h1 id="ah">Veuillez patenter, la fenettre va se fermer automatiquement...</h1>
        </section>

        <section style="margin-top: 60px">

            <h2>👑 Merci de soutenir les projets <a href="https://core.silverdium.fr">SilverCore</a> ! ❤️<br></h2>
            <h2 class="btn_tipeee" onclick="tipeee()">
                <span class="text"><strong>😎 VOUS POUVEZ NOUS AIDER ! 💸</strong></span>
            </h2>

        </section>

        <footer id="footer">
            <strong><p>&copy; 2025 SilverTransfert | <a href="https://core.silverdium.fr">SilverCore</a>. Tous droits réservés.</p></strong>
        </footer>

    </body>

</html>
