<!-- 
 * @author SilverCore
 * @author SilverTransfer
 * @author MisterPapaye
-->

<!DOCTYPE html>

<html lang="fr">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="hostname" content="t.silverdium.fr">
        <meta name="copyright" content="2024 - 2025 SilverTransfer | SilverCore">
        <meta name="author" content="SilverCore | SilverTransfer | MisterPapaye">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="theme-color" content="#AF40FF">
        <meta name="robots" content="noindex, nofollow">
        

        <meta property="og:title" content="SilverTransfert | <%= fileName %>">
        <meta property="og:description" content="Transfert de fichier GRATUIT, hébergé en France !! by SilverCore">
        <meta property="og:site_name" content="SilverTransfer - Outils de Transfert">
        <meta property="og:image" content="https://api.silverdium.fr/img/transfer/logo.png">
        <meta property="og:locale" content="fr_FR">

        <title>SilverTransfer | Télécharger : <%= fileName %></title>

        <link rel="stylesheet" href="assets?file=download&ext=css">
        <link rel="stylesheet" href="/t/assets?file=data&ext=css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.16.1/sweetalert2.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.16.1/sweetalert2.min.css">


    </head>

    <body>


        <span style="margin-bottom: 1rem; color: rgb(80, 0, 126); font-size: 1.2rem;"><strong> Le fichier sera supprimé 15 jours apres téléversement </strong></span>

        <!-- From Uiverse.io by Quer3000 --> 
        <div class="card">
            <div class="image_container">
                <a href="https://transfer.silverdium.fr"><img class="image" src="https://api.silverdium.fr/img/transfer/logo.png"></a>
            </div>
            <div class="title1">
            <span>SilverTransfer</span>
            </div>
            <div class="size">
            <ul class="list-size">
                <li class="item-list item-list-btton">
                    <strong>Taille du fichier</strong>
                    <br><span id="size"><%= fileSize %></span>
                </li>
                <li class="item-list item-list-button">
                    <strong>Nom du fichier</strong>
                    <br><span id="fname"><%= fileName %></span>
                </li>
            </ul>
            </div>
            <div class="action"> 
            <button class="download-button" id="downloadbtn">
                <span class="button-text" style="text-transform: uppercase;">Télécharger</span>
                <span class="button-icon">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 35 35"
                    class="download-svg"
                >
                    <path
                    d="M17.5,22.131a1.249,1.249,0,0,1-1.25-1.25V2.187a1.25,1.25,0,0,1,2.5,0V20.881A1.25,1.25,0,0,1,17.5,22.131Z"
                    ></path>
                    <path
                    d="M17.5,22.693a3.189,3.189,0,0,1-2.262-.936L8.487,15.006a1.249,1.249,0,0,1,1.767-1.767l6.751,6.751a.7.7,0,0,0,.99,0l6.751-6.751a1.25,1.25,0,0,1,1.768,1.767l-6.752,6.751A3.191,3.191,0,0,1,17.5,22.693Z"
                    ></path>
                    <path
                    d="M31.436,34.063H3.564A3.318,3.318,0,0,1,.25,30.749V22.011a1.25,1.25,0,0,1,2.5,0v8.738a.815.815,0,0,0,.814.814H31.436a.815.815,0,0,0,.814-.814V22.011a1.25,1.25,0,1,1,2.5,0v8.738A3.318,3.318,0,0,1,31.436,34.063Z"
                    ></path>
                </svg>
                </span>
            </button>
            </div>

        </div>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
        <ul class="social-contaner">

            <a target="_blank" href="https://core.silverdium.fr"> <li data-tooltip="Site de silvercore" class="social-icon"> <img src="https://api.silverdium.fr/img/core/logo.png" alt="logo silvercore" style="border-radius: 50rem;"> </li> </a>
            <a target="_blank" href="https://discord.gg/ftFhQTJsQ5"> <li data-tooltip="Discord SilverCore" class="social-icon"> <i class="bi bi-discord"> </i> </li> </a>
            <a target="_blank" href="https://discord.gg/mKs3uMTJWM"> <li data-tooltip="Discord support" class="social-icon"> <i class="bi bi-life-preserver"> </i> </li> </a>
            <a target="_blank" href="https://tipeee.com/silverdium"> <li data-tooltip="Nous aider avec tipeee" class="social-icon"> <i class="bi bi-heart"> </i> </li> </a>
            <a target="_blank" href="https://github.com/SilverCore-Git/SilverTransfer"> <li data-tooltip="Open source sur GitHub" class="social-icon"> <i class="bi bi-github"> </i> </li> </a>

        </ul> 
        <style>
            .social-contaner {
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
gap: 2rem;
list-style: none;
transform: translateX(-10px);
}


.social-icon {
font-size: 2rem;
cursor: pointer;
transition: all 0.3s;
color: white;
}

.social-icon img {
width: 30px;
}

.social-icon:hover {
transform: scale(1.1);
}


.social-icon:hover::after {
content: attr(data-tooltip);
position: absolute;
bottom: 100%;
left: 50%;
transform: translateX(-50%);
background-color: black;
color: white;
padding: 5px 10px;
border-radius: 5px;
font-size: 14px;
white-space: nowrap;
opacity: 1;
visibility: visible;
transition: opacity 0.2s ease-in-out;
}

.social-icon:hover::before {
content: "";
position: absolute;
bottom: 100%;
left: 50%;
transform: translateX(-50%);
border: 6px solid transparent;
border-top-color: black;
margin-bottom: -12px;
opacity: 1;
visibility: visible;
transition: opacity 0.2s ease-in-out;
}

.social-icon::after,
.social-icon::before {
opacity: 0;
visibility: hidden;
transition: opacity 0.2s ease-in-out;
}
        </style>


        <section id="ssuccess">
            <section id="download">

                <h1 id="status">Déchiffrement en cours...</h1>
        
                <div class="loader">
                    <!-- From Uiverse.io by Pradeepsaranbishnoi --> 
                    <div class="🤚">
                        <div class="👉"></div>
                        <div class="👉"></div>
                        <div class="👉"></div>
                        <div class="👉"></div>
                        <div class="🌴"></div>		
                        <div class="👍"></div>
                    </div>
                </div>
        
            </section>
        </section>

        <script type="module" defer>


            const size = "<%= fileSize %>";
            const name = "<%= fileName %>";


            history.pushState(null, "", `?page=download&fname=${name}&fsize=${size}&file=1`);
            

            function salert(text, type) {
                history.pushState(null, "", `?page=download&fname=${name}&fsize=${size}&file=1&salert=1&text=${text}&type=${type}`);
                Swal.fire({
                    title: 'SilverTransfer',
                    html: text,
                    icon: type,
                    confirmButtonText: 'Ok !',
                    background: '#f0f0f0',
                    color: '#333',
                    confirmButtonColor: '#ff4090',
                    timer: (789 * 789)*789,
                    showClass: {
                        popup: 'animate__animated animate__fadeIn'
                    },
                    hideClass: {
                        popup: 'animate__animated animate__fadeOut'
                    },
                    backdrop: `
                        rgba(0,0,123,0.4)
                        url("https://media.tenor.com/xzjlrhYq_lQAAAAi/cat-nyan-cat.gif")
                        left top
                        no-repeat
                `
                });
            }


            document.getElementById('ssuccess').style.display = 'none'


            document.addEventListener("DOMContentLoaded", () => {
                

                const bntntt = document.getElementById('downloadbtn');

                bntntt.addEventListener('click', async () => {

                    history.pushState(null, "", `?page=loader&fname=${name}&fsize=${size}&file=1`);

                    const statustext = document.getElementById('status');

                    const frames = [
                        "Déchiffrement en cours",
                        "Déchiffrement en cours.",
                        "Déchiffrement en cours..",
                        "Déchiffrement en cours...",
                        "Déchiffrement en cours...."
                    ];

                    let tailledetesmorts = 0;

                    setInterval(() => {
                        
                        statustext.innerText = frames[tailledetesmorts]
                        tailledetesmorts++

                        if (tailledetesmorts === 5) { tailledetesmorts = 0 }

                    }, 500);


                    document.querySelector('.card').style.display = 'none'
                    document.getElementById('ssuccess').style.display = 'flex'

                    history.pushState(null, "", `?page=loader&fname=${name}&fsize=${size}&file=1&statu=fetching`);

                    await fetch(`/data/<%= fileID %>?action=decrypt`)
                    .then(response => response.json())
                    .then(res => {

                        history.pushState(null, "", `?page=loader&fname=${name}&fsize=${size}&file=1&statu=res`);

                        if (res.error) {
                            salert(res.message.silver, 'error');
                            document.querySelector('.card').style.display = 'flex'
                            document.getElementById('ssuccess').style.display = 'none'
                            return history.pushState(null, "", `?page=download&fname=${name}&fsize=${size}&file=1&statu=error`);
                        };

                        if (res.success) {

                            history.pushState(null, "", `?page=loader&fname=${name}&fsize=${size}&file=1&statu=success`);
                            window.open('/data/<%= fileID %>?action=download', '_blank');
                            setTimeout(() => {
                                window.location.href = '/data/end?end=true&fname=${name}';
                            }, 500);

                            return

                        };

                    })
                    .catch(err => {
                        console.error('Une errreur est survenue : ', err || err.message);
                        salert('Une errreur est survenue !', 'error');
                        document.querySelector('.card').style.display = 'flex'
                        document.getElementById('ssuccess').style.display = 'none'
                        return history.pushState(null, "", `?page=download&fname=${name}&fsize=${size}&file=1&statu=error&msg=${err}`);
                    });

                });

            });

        </script>

        <section style="margin-top: 60px">

            <h2>👑 Merci de soutenir les projets <a href="https://core.silverdium.fr" target="_blank">SilverCore</a> ! ❤️<br></h2>
            <h2 class="btn_tipeee" onclick="window.open('https://tipeee.com/silverdium', '_blank')">
                <span class="text"><strong>😎 VOUS POUVEZ NOUS AIDER ! 💸</strong></span>
            </h2>

        </section>

        <a href="https://github.com/SilverCore-Git/SilverTransfer" class="vtext"> SilverTransfer version 2.0.1 </a>
        <style>
            .vtext {
                position: fixed;
                bottom: 6rem;
                left: 1.5rem;
                font-weight: bold;
            }
            @media (max-width: 700px) {
                .vtext {
                    display: none;
                }
            }
        </style>

        <footer id="footer">
            <strong><p>&copy; 2025 SilverTransfert | <a href="https://core.silverdium.fr">SilverCore</a>. Tous droits réservés.</p></strong>
        </footer>

    </body>

</html>
